@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.55;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
